<%- include('./partials/header.ejs') %>
<div class="show-page">
    <div class="show-div">
    <h1 class="ui header"><%=trail.name%></h1>
    <img class="show-img" src="<%=trail.img%>" alt="<%=trail.name%>"/>
    <h4 class="ui header">Location: <%=trail.location%> | Distance: <%=trail.distance%> miles</h4>
    <h4 class="ui header"></h4>
    <div class="ui divider"></div>
    <a href="/trails/<%=trail.id%>/edit"><i class="pencil alternate icon pencil"></i></a> 
    <form action="/trails/<%=trail.id%>?_method=DELETE" method="POST">
    <button class="delete-btn" type="submit"><i class="trash alternate icon trashcan"></i></button>
    </form>
</div>
</div>
</body> 
</html>