<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav><a href="/trails">Go Back</a> | <a href="/trails/new">Add New Trail</a></nav>
    <h1><%=trail.name%></h1>
    <img src="<%=trail.img%>" alt="<%=trail.name%>"/>
    <br>
    <a href="/trails/<%=trail.id%>/edit">Edit Trail Info</a> 
    <form action="/trails/<%=trail.id%>?_method=DELETE" method="POST">
    <input type="submit" value="Remove from Trailblazer">
    </form>
    <h3><%=trail.location%></h3>
    <h3><%=trail.distance%> miles</h3>
    

</body>
</html>